[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.10"
graphene-django = "*"
pillow = "*"
django-filter = "*"
django-graphql-jwt = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2 = "==2.9.3"
django-cors-headers = "*"
django-admin-interface = "*"

[dev-packages]

[requires]
python_version = "3.10"
